<div class="login-wrap">
  <div class="login-container">
    <h2 style="text-align: center">Signup</h2>
    <form>
      <div class="flex flex-column gap-2 username">
        <label for="username">Email ID</label>
        <input pInputText id="username" aria-describedby="username-help" />
      </div>

      <div class="flex flex-column gap-2 password">
        <label for="username">Password</label>
        <input pInputText id="username" aria-describedby="username-help" />
      </div>

      <div class="flex flex-column gap-2 password">
        <label for="username">Confirm Password</label>
        <input pInputText id="username" aria-describedby="username-help" />
      </div>

      <button class="login-btn">Continue</button>
      <p class="signup-text">
        Already have an account?
        <a href="account/login" class="signup-link">Login</a>
      </p>
    </form>
  </div>
</div>
